doctype html
html(lang="en")
  head
    title Url Shortener
  body
    h1 URL Shortener
    h3 Example usage:
      li https://glacial-ocean-35260.herokuapp.com/shorten/https://www.facebook.com
      li https://glacial-ocean-35260.herokuapp.com/shorten/http://foo.com:80
    h3 Example output:
      li { "original":"http://foo.com:80", "shorten":"https://glacial-ocean-35260.herokuapp.com/8170" }
    h3 Example usage: 
      li "https://glacial-ocean-35260.herokuapp.com/shorten/2871" will direct to "https://www.website.com"

